.downloads {
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 175px, 50% 0;

  @media @mobile {
    @media @retina {
      background-image:
        url("../img/iphone-hand-mobile@2x.png"),
        url("../img/bg-back-mobile@2x.jpg");
      background-size: 258px auto, 320px auto;
    }
  }

  @media @mobile-wo-min {
    background-image:
      url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 175px, 50% 0;
    background-size: auto, auto 461px;

    @media @retina {
      background-image:
        url("../img/iphone-hand-mobile@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      background-size: 258px auto, auto 461px;
    }
  }

  @media @tablet {
    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: right -20px top 182px, 50% -2px;
    background-size: auto;

    @media @retina {
      background-image:
        url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px, 1200px;
    }
  }

  @media @desktop {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;

    @media @retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px;
    }
  }
}

.downloads__inner {
  padding: 87px 0 30px 0;

  @media @tablet {
    padding: 197px 320px 111px 0;
  }

  @media @desktop {
    box-sizing: border-box;
    padding: 218px 640px 122px 0;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 16px 208px;

    @media @retina {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px;
    }
  }
}

.downloads__title {
  min-height: 60px;
  margin: 0 0 342px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media @tablet {
    margin-bottom: 29px;
    padding: 0 55px;
    font-size: 40px;
    line-height: 50px;
  }

  @media @desktop {
    margin-bottom: 51px;
    padding: 0;

    font-size: 50px;
    line-height: 60px;
  }
}

.downloads__link {
  display: block;
  margin-bottom: 32px;

  @media @tablet {
    margin-bottom: 44px;
  }

  @media @desktop {
    margin-bottom: 66px;
  }
}

.downloads__text {
  margin: 0;

  font-weight: 300;
  text-align: center;

  @media @tablet {
    font-size: 18px;
  }
}
