.application-download {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .list-reset();
  margin-bottom: 22px;
  padding-right: 37px;
  padding-left: 37px;
}

.application-download__item {
  display: block;
  background-repeat: no-repeat;

  &--apple {
    width: 47px;
    height: 56px;

    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    width: 43px;
    height: 47px;

    background-image: url("../img/logo-android.svg");
  }

  &--microsoft {
    width: 44px;
    height: 41px;

    background-image: url("../img/logo-microsoft.svg");
  }
}
