.application-download {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .list-reset;
  margin-bottom: 22px;
  padding-right: 37px;
  padding-left: 37px;
}

.application-download__item {
  display: block;

  &--apple {
    width: 47px;
    height: 56px;

    background: url("../img/logo-apple.svg") no-repeat 0 0;
  }

  &--android {
    width: 43px;
    height: 47px;

    background: url("../img/logo-android.svg") no-repeat 0 0;
  }

  &--microsoft {
    width: 44px;
    height: 41px;

    background: url("../img/logo-microsoft.svg") no-repeat 0 0;
  }
}



