.features__wrapper {
  position: relative;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    height: 31px;
    background-image: url("../img/bg-triangle-white.svg");
    background-size: 100% 31px;
  }
}

.features__header {
  margin-bottom: 32px;
  padding-top: 40px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  background-color: #ffffff;
}

.features__slogan {
  margin: 0 0 25px;
}

.features__list {
  .list-reset();
  padding-top: 82px;
  padding-bottom: 285px;

  text-align: center;

  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 506px;
}

.features__item {
  margin-bottom: 33px;
}

.features__title {
  margin: 0 0 10px;

  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.features__description {
  margin: 0;
}
