.main-nav {
  position: relative;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  background-color: #283645;
}

.main-nav__logo {
  display: block;
  height: 22px;
  margin-bottom: 1px;
  padding: 22px 20px 25px;
  box-shadow: 0 1px 0 0 #000000;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin-bottom: 1px;

  box-shadow:
    0 1px 0 0 #000000,
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.main-nav__list a {
  display: block;
  padding: 15.5px 0;

  text-align: center;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 19px;

  width: 24px;
  height: 23px;

  background: url("../img/icon-menu-cross.svg") no-repeat;
  border: none;

  cursor: pointer;
}
