.main-nav {
  position: relative;

  margin-bottom: 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  background-color: #283645;

  @media (min-width: 660px) {
    margin-bottom: 70px;
  }

  @media (min-width: 960px) {
    margin-bottom: 63px;

    font-weight: 400;
    line-height: 18px;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__inner {
  @media (min-width: 960px) {
    display: flex;

    width: 940px;
    margin-right: auto;
    margin-left: auto;
    padding: 27px 10px 40px;
  }
}

.main-nav__logo {
  display: block;
  height: 22px;
  margin-bottom: 1px;
  padding: 22px 20px 25px;
  box-shadow: 0 1px 0 0 #000000;

  @media (min-width: 660px) {
    height: 40px;
    padding: 27px 20px 42px;
  }

  @media (min-width: 960px) {
    width: 147px;
    height: 40px;
    margin-right: 171px;
    margin-bottom: 0;
    padding: 0;

    box-shadow: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: 960px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  margin-bottom: 1px;

  box-shadow:
    0 1px 0 0 #000000,
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  @media (min-width: 960px) {
    margin-right: 80px;
    margin-bottom: 0;

    box-shadow: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__list a {
  display: block;
  padding: 15.5px 0;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: 960px) {

    padding: 18px 0 7px;

    text-transform: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 19px;

  width: 24px;
  height: 23px;

  background: url("../img/icon-menu-cross.svg") no-repeat;
  border: none;

  cursor: pointer;

  @media (min-width: 660px) {
    top: 44px;
  }

  @media (min-width: 960px) {
    display: none;
  }
}
