.page-footer__logo-img {
  display: block;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 38px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  margin: 0;
}

.page-footer__copyright-text {
  margin-right: 14px;

  line-height: 18px;
}

.page-footer__copyright-logo {
  display: block;
  fill: #d22856;
}
